{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Spark QR</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
  
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static "css/responsive.css" %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static "css/enterurl.css" %}"/> 
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}"/>  {% endcomment %}
  <style>
    
  </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="{% url 'index' %}">
            <span>
              Spark QR
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'genqr' %}"> Generate QR </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'do' %}"> What we do </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signin' %}"
                  style="color: black; border: 7px solid white; padding: 10px; background-color: white; border-radius: 20px; margin: 10px;"
                  >Sign in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}"
                  style="color: black; border: 6px solid white; padding: 10px; background-color: white; border-radius: 20px; margin: 10px;"
                  >Sign up</a>
                </li>
              </ul>
              {% comment %} <div class="user_option">
                <a href="{% url 'signin' %}">
                  <img src="{% static "images/user.png" %}" alt="">
                </a>
              </div> {% endcomment %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- do section -->

  <section class="do_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Generate QR Codes
        </h2>

        <form method="post" action="{% url 'search_qro' %}">
          {% csrf_token %}
          <label for="search">Search</label>
          <input type="text" name="vikas" required >
          <span class="caret"></span>
      </form>
      
      {% if qrc  %}
      <div class="container" id="0001">

         <img src="{{qrc.code.url}}" alt="" srcset="">

      </div>
      {% endif %}
      {% if data %}
        
      <div class="container" id="9211">
        <img src="{{data.code.url}}" alt="" srcset="">
        
        
        
        
        
      </div>
      {% endif %}


      </div>


      
      <!-- <div class="wrapper">
        <div class="button" onclick="document.body.classList.add('active')">
            <span class="button-text">Press</span>
            <div class="button-backgrounds">
                <div class="button-circle button-circle1"></div>
                <div class="button-circle button-circle2"></div>
                <div class="button-circle button-circle3"></div>
                <div class="button-circle button-circle4"></div>
            </div>
        </div>
    </div> -->

    {% comment %} <div class="wrapper">
        <div class="popup">
            <div class="popup-inside">
                <div class="backgrounds">
                    <div class="background"></div>
                    <div class="background background2"></div>
                    <div class="background background3"></div>
                    <div class="background background4"></div>
                    <div class="background background5"></div>
                    <div class="background background6"></div>
                </div>
            </div>
            <div class="content">
                <div class="content-wrapper">
                    <h1>well done</h1>
                    <p>QR code</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>                      
                    <p></p>
                    <p></p>
                    <p></p>
                    <p class="try-again" onclick="document.body.classList.remove('active')">Close</p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}


      
      
      <div class="do_container">
        <div class="box arrow-start arrow_bg">
          <!-- <div class="img-box">
            <img src="images/d-1.png" alt="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHk-c8cIub6ZvlA078s0ehRxW7wAFQOziFvg&usqp=CAU"
              alt="">
          </div>
          <div class="detail-box">
            <h6>
              Customization
            </h6>
          </div> -->
        </div>
        <div class="box arrow-middle arrow_bg">
          <!-- <div class="img-box">
            <img src="images/d-2.png" alt="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6rgTRjjTSgxXi4fPwK4UILj2blSyaly0oFg&usqp=CAU"
              alt="">
          </div>
          <div class="detail-box">
            <h6>
              Download
            </h6>
          </div> -->
        </div>
        <div class="box arrow-middle arrow_bg">
          <!-- <div class="img-box">
            <img src="images/d-3.png" alt="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc0J0RCPs6kE4Q5KkRcNa9lL3kiNZIzfsVQg&usqp=CAU"
              alt="">
          </div>
          <div class="detail-box">
            <h6>
              Dynamic QR Codes
            </h6>
          </div> -->
        </div>
        <div class="box arrow-end arrow_bg">
          <!-- <div class="img-box">
            <img src="images/d-4.png" alt="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTc32_RXHS3Drlv0fiLFHT3xxxOx7sgSiWDA&usqp=CAU"
              alt="">
          </div>
          <div class="detail-box">
            <h6>
              Password Protection
            </h6>
          </div> -->
        </div>
        <div class="box ">
          <!-- <div class="img-box">
            <img src="images/d-5.png" alt="">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmUryCO5td7Pnhx-ZBfEq4Abym2p7rcC43pQ&usqp=CAU"
              alt="">
          </div>
          <div class="detail-box">
            <h6>
              Documentation
            </h6>
          </div> -->
        </div>
      </div>
      <div class="heading_container">
        <h2>
          Steps to Follow:
        </h2>
        <p>
          <b>Step 1.</b>Navigate to the Search icon. Type or paste the link you want to convert into a QR code.
        </p>
        <p>
          <b>Step 2.</b>Once you've entered the link, press Enter. Our System will process the information and generate a QR code for your provided link.
        </p>
        <p>
          <b>Step 3.</b>After generating the QR code, you'll see it displayed on the page. You can download the QR code image to your account.
        </p>
        <p>
          <b>Step 4.</b>Ensure the generated QR code works by scanning it with a QR code reader or your smartphone's camera. Verify that it directs you to the correct link.
        </p>
        <p>
          That's it! You've successfully created a QR code for your link. Feel free to use, download and share it as needed.
        </p>
        <p style="color: red;">
          <b>Enhance your experience by creating an account! Sign up, and conveniently store all your generated QR codes in one place for easy access and management.</b>
        </p>
      </div>

    </div>
  </section>

  <!-- end do section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Get to know us
            </h5>
            <div>
              <!-- <div class="img-box">
                <img src="images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p> -->
            </div>
            <div>
              <div class="img-box">
                <img src="{% static "images/telephone-white.png" %}" width="12px" alt="">
              </div>
              <p>
                +91 9432657890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static "images/envelope-white.png" %}" width="18px" alt="">
              </div>
              <p>
                lunawork04@gmail.com
              </p>
            </div>
            <div>
              <p>
                <a href="{% url 'termsofuse' %}" style="color: white; text-decoration: none;">Terms of use</a>
              </p>
            </div>
            <div>
              <p>
                <a href="{% url 'privacy' %}" style="color: white; text-decoration: none;">Privacy</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              Explore our Information section to stay updated on the latest QR code trends, tips, and innovative ways to
              leverage this powerful technology. Empower your QR code journey with insights and knowledge at your
              fingertips!
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="{% static "images/insta.png" %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="{% static "images/insta.png" %}" alt="">
                  </div>
                </a>
              </div>

              <!-- <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="images/insta.png" alt="">
                  </div>
                </a>
              </div> -->
              <!-- <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="images/insta.png" alt="">
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="{% static "images/fb.png" %}" alt="">
              </a>
              <a href="">
                <img src="{% static "images/twitter.png" %}" alt="">
              </a>
              <a href="">
                <img src="{% static "images/linkedin.png" %}" alt="">
              </a>
              <a href="">
                <img src="{% static "images/youtube.png" %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2020 All Rights Reserved By
      <a href="">lunaworks</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>