<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'search_qr' %}">
        {% csrf_token %}
        <label for="search">Search</label>
        <input id="search" type="search" name="s_qr" pattern=".*\S.*" required >
        <span class="caret"></span>
    </form>
    <div>

    {% if Q  %}
       <img src="{{Q.code.url}}" alt="" srcset="" style="object-fit: contain;">

    {% endif %}
</body>
</html>